body{
    font-family: 'Roboto', sans-serif;
    background-color: #e7e7e7;
    
}
.azaan{
    font-family: 'Parisienne', cursive;
    color: black;
}
nav{
    
    font-style: normal;
}
section a{
    color: black;
}
section a:hover{
    color: white;
}
li a{
    color: black;
}
li a:hover{
    color: white;
}
h1{
    color: #E29578;
}
#mainImg{
    width: 85%;

}
#introId{
    height: 90vh;
}

#aboutMe{
    background-color: teal;
    height: 100vh;
}