body{
    font-family: 'Roboto', sans-serif;
    background-color: #e7e7e7;
    line-height: 2em;
    font-size: 1em;
    
}
.azaan{
    font-family: 'Parisienne', cursive;
    color: black;
}
nav{
    
    font-style: normal;
}
section a{
    color: black;
}
section a:hover{
    color: #14213d;
}
li a{
    color: black;
}
li a:hover{
    color: #14213d;
}
h1{
    color: #ade8f4;
}
#introId h1{
    color: black;
}
#mainImg{
    width: 85%;

}
#introId{
    height: 90vh;
}

#aboutMe{
    background-color: #48cae4;
    height: 100vh;
    color: rgb(43, 41, 41);
    line-height: 2em;
}
/* #aboutMeHead {
    margin-bottom: 30%;
} */